@charset "UTF-8";

body {
    background-image: url(img/img.png);
    background-size: cover;
    background-attachment: fixed;
    animation-name: moveToLeft;
    animation-duration: 1s;
}

.btn-primary { 
    color: rgb(255, 255, 255);
    background-color: rgb(0, 50, 78);
    border-color: rgb(0, 50, 78);
}

.btn-primary:hover {
    background-color: rgb(0, 21, 34);
    color: white;
    border-color: rgb(0, 21, 34);
}

.btn-primary:visited {
    background-color: rgb(0, 21, 34);
    color: white;
    border-color: rgb(0, 21, 34);
}

.btn-primary:link {
    background-color: rgb(0, 21, 34);
    color: white;
    border-color: rgb(0, 21, 34);
}

.btn-primary:active {
    background-color: rgb(0, 21, 34);
    color: white;
    border-color: rgb(0, 21, 34);
}

button {
    text-align: center;
    text-align: center;
}

h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 30px;
}

p {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

p#txt {
    color: white;
    font-size: 30px;
    text-align: justify;
}

p#titulo {
    font-size: 20px;
}

p#pulsar{
    font-size: 30px;
    color: rgb(255, 196, 0);
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active { 
    color: white;
}

a#pulsar:link {
    color: rgb(255, 196, 0);
}

a#pulsar:hover {
    color: rgb(255, 196, 0);
}

a#pulsar:active{
    color: rgb(255, 196, 0);
}

a#pulsar:visited { 
    color: rgb(255, 196, 0);
}

a#pulsar {
    color: rgb(255, 196, 0);
}


address {
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.mcontainer {
    width: 1500px;
    margin: auto;
}

img { 
    width: 900px;
    height: 700px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.tab-pane {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Barra de navegação*/
nav#navbar {
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav-pills .nav-link:not(.active) {
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.nav-pills .nav-link.active {
    background-color: rgb(255, 196, 0);
    color: #10223D;
    overflow: hidden;
    margin-left: 20px;
}
/*Barra de navegação*/

/*Barra de scroll*/

::-webkit-scrollbar {
    width: 6px;
    background-image: -webkit-linear-gradient(bottom, rgb(0, 86, 136) 0%, rgb(0, 86, 136) 100%);
    background-image: linear-gradient(to top,rgb(0, 86, 136) 0%, rgb(0, 86, 136) 100%);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
}

@keyframes moveToLeft {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.responsiveimg {
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

.responsive {
    min-height: 720px;
    height: 750px;
    min-width: 100%;
}

.responsive-iframe {
    width: 100%;
    min-height: 720px;
}

footer {
    text-align: center;
    color: white;
    opacity: 10%;
}

.pulsar {
    color: rgb(255, 196, 0);
}

li {
    color: white;
    font-size: 20px;
}

li#num {
    color: rgb(255, 196, 0);
    font-size: 30px;
}

video {
    width: 1500px;
    height: auto;
    margin-bottom: 20px;
}

img#caroussel {
    height: 800px;
}

h1#hydro {
    color: rgb(255, 196, 0);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img#normal {
      border-radius: 0px;
  }